<!--hobbies.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">Hobbies & Interests</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content color="dark" padding>
  <ion-grid>
      <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
            <img src="assets/Irishdance.jpg">
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
          Hobby:
          </ion-label>
        </ion-list-header>
        <ion-text color="secondary">
          <h5>Irish Dance</h5>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <ion-list-header color="secondary">
            <ion-label color="dark label">
            Interests:
            </ion-label>
          </ion-list-header>
          <ion-text color="secondary">
            <h5>Linguistics</h5>
            <h5>History</h5>
            <h5>Open-source</h5>
            <h5>Smart Technologies</h5>
          </ion-text>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
