<!--p-work.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">Project Works</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>HireME App</h2>
          </ion-label>
        </ion-list-header>
        <ion-text>
          <p>This app was made with Ionic.
            <br>For further information visit the "About" page or the GitHub repository:</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
      <!--Update plan: later on, this button will be modified with InAppBrowser module-->
        <ion-button href="https://github.com/Galuiel/HireME"  expand="full" color="secondary" shape="round">
          <ion-icon name="logo-github"></ion-icon>
          Git Repo
        </ion-button>
        <br>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>FindNearME</h2>
          </ion-label>
        </ion-list-header>
        <ion-text>
          <p>This app was made with Ionic.
            <br>The main purpose of this app was to learn how Slides can be created and used.
            <br> For further information visit the the GitHub repository:</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <!--Update plan: later on, this button will be modified with InAppBrowser module-->
        <ion-button href="https://github.com/Galuiel/FindNearME" expand="full" color="secondary" shape="round">
          <ion-icon name="logo-github"></ion-icon>
          Git Repo
        </ion-button>
        <br>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>DancersQuotes</h2>
          </ion-label>
        </ion-list-header>
        <ion-text>
          <p>This app was made with Apache Cordova and VisualStudio 2017.
            <br>The main purpose of this app was to try and creat an app without any guide or help.
            <br>For further information visit the the GitHub repository:</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <!--Update plan: later on, this button will be modified with InAppBrowser module-->
        <ion-button href="https://github.com/Galuiel/DancersQuotesApp"  expand="full" color="secondary" shape="round">
          <ion-icon name="logo-github"></ion-icon>
          Git Repo
        </ion-button>
        <br>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>RinceGaelach</h2>
          </ion-label>
        </ion-list-header>
        <ion-text>
          <p>This web app was developed with ME(A)N.
            <br>The main purpose of this app was to try and creat a website/web app app with ME(A)N. Angular was not used during this project, but was refered to during the courses. The website was partially created with ste-by-step guidence and partially by individual efforts.
            <br>For further information visit the the GitHub repository:</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <!--Update plan: later on, this button will be modified with InAppBrowser module-->
        <ion-button href="https://github.com/Galuiel/DeployToAzure" expand="full" color="secondary" shape="round">
          <ion-icon name="logo-github"></ion-icon>
          Git Repo
        </ion-button>
        <br>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
