<!--about.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">About</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
  <ion-text color="secondary">
    <h3> Hi!</h3>
    <h4>I am Edina Petróczki, a second year Business Information Technology student at
      Laurea University of Applied Sciences.
    </h4>
  </ion-text>

<!-- this button leads to the webpage about the degree program.
      Update plan: utilize the InAppBrowser module to open it.-->
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button href="https://www.laurea.fi/en/degree_programmes/business-management-and-information-technology/business-information-techonolgy/"
        expand="full" color="secondary" shape="round">About the degree programme</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="secondary">
    <h4>I made this app for my "Building and Deploying Cross Platform Mobile Apps"
      course as an exam project. In the future, I plan to further improve, update and utilize
    it as a real CV.</h4>
  </ion-text>
</ion-content>
