<!--softskills.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">Soft Skills</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
  <ion-grid>
<!-- Languages:-->
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
            <ion-label color="dark label">
              <h2>Languages:</h2>
            </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>Hungarian (mother tongue)</p>
          <p>English (C1-level)</p>
          <p>Finnish (A2.2-level, still learning)</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Soft Skills:</h2>
          </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>Communication (business)</p>
          <p>Project Management</p>
          <p>Team work</p>
          <p>Problem-solving</p>
          <p>Critical Thinging</p>
          <p>Analytical Thinking</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
    
