<!--techskills.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">Tech Skills</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
  <ion-grid>
<!-- True IT Skills:-->
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Web Development:</h2>
          </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
            HTML(5)
            <br>
            CSS 
            <br>
            Bootstrap
            <br>
            MEAN
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Mobile Development:</h2>
            </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
            Ionic
            <br>
            Apache Cordova 
            <br>
            Android Studio
            <br>
            Firebase
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Version Control:</h2>
          </ion-label>
        </ion-list-header>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
              Git
              <br>
              GitHub (also with Azure)
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Database Management:</h2>
          </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
            SQL (MySQL, SQLite)
            <br>
            NoSQL (MongoDB)
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Programming Languages:</h2>
          </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
            JavaScript
            <br>
            Java
            <br>
            Python (3)
            <br>
            C
            <br>
            C++
            <br>
            PHP
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!--Design consepts-->
    <ion-row>
      <ion-col size="12">
        <ion-list-header color="secondary">
          <ion-label color="dark label">
            <h2>Other:</h2>
          </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-text color="secondary">
          <p>
              User-interface Design & Prototyping
              <br>
              User Experience Evaluation
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>