<!--c-vitae.page.html file code for left side menu-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary">Curriculum Vitae</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="dark" padding>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary"> 
            <h5>Name:</h5>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="secondary">
            <h6>Edina Petróczki</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-text color="secondary"> 
            <h5>Birth Date:</h5>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text color="secondary">
            <h6>06.12.1991</h6>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
        <ion-text color="secondary"> 
          <h5>Nationality:</h5>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="secondary">
          <h6>Hungarian</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-text color="secondary"> 
          <h5>Gender:</h5>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="secondary">
          <h6>Female</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-text color="secondary"> 
          <h5>Moved to Finland:</h5>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="secondary">
          <h6>2015</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
