<!--home.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">HireME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-grid>
      <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
            <img src="assets/meeee.jpg">
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button href="/cVitae" size="large" expand="full" color="secondary" shape="round">Basic Info</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button href="/techskills" size="large" expand="full" color="secondary" shape="round">Tech Skills</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button href="/softskills" size="large" expand="full" color="secondary" shape="round">Soft Skills</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button href="/pWorks" size="large" expand="full" color="secondary" shape="round">Project Works</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button href="/hobbies" size="large" expand="full" color="secondary" shape="round">Hobbies / Interests</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>